<footer style="padding:1rem 0">
  <hr style="margin:2rem 0" />
  <div style="display:flex;flex-direction:column;">
    <p style="margin-bottom: 0;">
      Julian Stephens - <a href="/">
        {import.meta.env.PUBLIC_BASE_URL}
      </a>
    </p>
    <p>Contact me - <a href={`mailto:${import.meta.env.PUBLIC_CONTACT_EMAIL}`}>{import.meta.env.PUBLIC_CONTACT_EMAIL}</a></p>
  </div>
</footer>
