---
type PageUrl = {
  current: string;
  next?: string;
  prev?: string;
};
const { url } = Astro.props as { url: PageUrl };
---

<nav>
  <hr />
  {
    url.next != null && (
      <h3 style="border:0">
        <a href={url.next} rel="next">
          Older
        </a>
      </h3>
    )
  }
  {
    url.prev != null && (
      <h3 style="border:0">
        <a href={url.prev || "/"} rel="prev">
          Newer
        </a>
      </h3>
    )
  }
</nav>
