---
import { site } from "@src/config";
import type { FFFAuthor } from "fff-flavored-frontmatter";

type Author = string | FFFAuthor;
const { authors } = Astro.props as { authors?: Author[] };
---

{
  (authors
    ? authors.map((author: Author) => (typeof author === "string" ? site.authors[author] : author))
    : Object.values(site.authors).filter((author) => author.default)
  ).map(({ name, url }: { [key: string]: string }, index: number, array: string | unknown[]) => (
    <>
      <a class="p-author h-card" href={url}>
        {name}
      </a>
      <>{index + 1 < array.length && <span>, </span>}</>
    </>
  ))
}
