@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  width: 100%;
}

html {
  color: #fff;
  background: #000;
  height: 100vh;
}

body,
#__next {
  height: 100%;
}

@layer base {
  h1 {
    @apply font-semibold text-2xl lg:text-3xl;
  }
  h2 {
    @apply font-semibold text-xl lg:text-2xl underline decoration-2 decoration-pink-800;
  }
  h3 {
    @apply font-semibold text-lg lg:text-xl underline decoration-2 decoration-yellow-800;
  }
  h4 {
    @apply font-semibold text-base lg:text-lg underline decoration-2 decoration-green-800;
  }

  h1,
  h2 {
    @apply mt-16 mb-6;
  }

  h3,
  h4 {
    @apply mt-8 mb-4;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  ol,
  ul {
    @apply mb-6;
  }

  ol li,
  ul li {
    @apply mt-3 ml-6;
  }

  p {
    @apply my-2;
  }

  img {
    @apply my-3;
  }

  hr {
    @apply mt-5 mb-6;
  }

  a {
    @apply underline decoration-2 decoration-sky-800 transition-all duration-300 hover:text-sky-500;
  }

  aside {
    @apply mx-4 my-6;
  }

  .layout {
    @apply w-full h-full flex flex-col justify-between p-10 lg:max-w-5xl lg:mx-auto;
  }

  .page {
    @apply max-w-full p-6 pb-20 text-lg lg:text-xl lg:max-w-5xl lg:mx-auto;
  }

  .text-muted {
    @apply text-neutral-500;
  }

  table {
    @apply mx-auto my-8;
  }

  table thead {
    @apply bg-neutral-900;
  }

  table td,
  table th {
    @apply p-2;
  }

  table tr {
    @apply border-b-2 border-b-neutral-900;
  }
}
